/*@font-face {
    src: url("corleone.ttf");
    font-family: corleone;
}

h3{
    font-family:"corleone";
    font-size:xx-large;
} */

body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;     
}
  
#hero{
    background-image: url("images/artifact.gif");
           
/* Full height */
    height: 100%;

 /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    font-size: 90px;
}
h3{
    font-family:'Orbitron', sans-serif;
    font: size 800px;;
} 
   
#title {
    text-shadow: 0px 0px 4px black;
}

#logo {
    width: 350px;
    margin: 0;
    text-align: center;
    text-shadow: 0px 0px 4px ; 
}
  
.btn {
    padding: 12px 24px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
    font-size: 25px;
    border-radius: 5px;
}
  
.underline {
    border-bottom: 4px solid white;
}
     
